<!-- Mask & flexbox options-->
<div class="text-center px-5" id="content">
    <h3 class="display-3 font-weight-bold pt-5">Travelex</h3>
    <hr class="hr my-3 w-75">
    <h4 class="subtext-header mt-2 mb-4">Taking you to some of the most incredible places in South America</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet est fuga, accusamus at itaque corrupti a, ab
        repudiandae ullam et sequi. Pariatur provident at magnam. Ipsa, illum cum? Aliquam dolor nihil debitis excepturi
        consequatur aperiam maiores placeat ipsa doloribus? Excepturi iste enim eius debitis voluptatibus architecto.
        Pariatur odit consequatur aliquam voluptatibus inventore aspernatur praesentium mollitia vel eos unde error
        provident officia iure suscipit culpa, maiores itaque alias quas. Consectetur sit qui maxime sunt a libero.
        Dicta eum in, deleniti sapiente, repudiandae possimus dolores provident reprehenderit odit quod pariatur
        inventore vel expedita sequi modi est! Magni sequi placeat excepturi ut culpa deleniti, repellat recusandae
        nobis quibusdam ratione cupiditate est architecto dolorum, exercitationem numquam unde laudantium enim debitis
        blanditiis ab fugiat in consequatur! Veritatis deserunt sed incidunt debitis omnis laudantium dolorem asperiores
        sapiente molestiae minus enim suscipit aliquam fuga dolore voluptatem, veniam id saepe qui sit quos, voluptates
        repellat. At sunt soluta temporibus distinctio explicabo eligendi dolorem deserunt, laborum, expedita dolore
        corporis quos eaque esse excepturi recusandae commodi in assumenda. Delectus, libero dolorem accusantium in
        tempore unde distinctio earum eveniet, similique facere reiciendis nesciunt, sed magnam consectetur natus nulla
        necessitatibus expedita sapiente minima molestias! Fuga, nobis harum? Eveniet nulla maxime tempore in?</p>
</div>